<label>Minimum Support</label>
<input class="form-control" name="query[options][]" step="0.01" type="number" value="0.03">

<label>Minimum Confidence</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.9">

<label>Number of Rules</label>
<input class="form-control" name="query[options][]" type="number" value="5">