<label>g</label>
<input class="form-control" name="query[options][]" type="number" value="10">

<label>Minimum Support</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.1">

<label>Beam width</label>
<input class="form-control" name="query[options][]" type="number" value="5">

<label>Num Rules</label>
<input class="form-control" name="query[options][]" type="number" value="0">