<label>N. labels</label>
<input class="form-control" name="query[options][]" type="number" value="3">

<label>Number of evaluations</label>
<input class="form-control" name="query[options][]" type="number" value="10000">

<label>Population length</label>
<input class="form-control" name="query[options][]" type="number" value="100">

<label>Cross probability</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.6">

<label>Mutation probability</label>
<input class="form-control" name="query[options][]" step="0.01" type="number" value="0.01">

<label>Min Confidence</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.6">

<label>lSearch</label>
<select name="query[options][]">
	<option value="YES" selected>Yes</option>
	<option value="NO">No</option>
</select>

<label>w1</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.4">
<label>w2</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.3">
<label>w3</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.3">