<label>Minimum Support</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.1">

<label>Minimum Confidence</label>
<input class="form-control" name="query[options][]" step="0.1" type="number" value="0.8">

<label>Rules Return</label>
<input class="form-control" name="query[options][]" type="number" value="10">