<% provide(:title, "About") %>
<h1>Contacto</h1>
<div>
	<p>Si tienes cualquier duda o sugerencia, puedes enviar un correo a dav00004.tfg@gmail.com</p>
	<p>Perfil en <a class="underline" href="https://github.com/Dabadvic" target="_blank">GitHub</a></p>
</div>