<% provide(:title, "Home") %>
<h1>Inicio</h1>
<p>Página de inicio del proyecto</p><br>

<p>Sube un archivo .arff o .dat, elige un algoritmo y espera los resultados. También puedes elegir un discretizador, aunque no es obligatorio, es recomendable para archivos con variables continuas.</p>
