<h1>TFG</h1>

<p>Hola <%= @user.name %>,</p>

<p>
¡Bienvenido a la aplicación! Por favor, haz clic en el siguiente enlace para activar tu cuenta:
</p>

<%= link_to "Activa mi cuenta", edit_account_activation_url(@user.activation_token, email: @user.email) %>