<% @resultado.each do |file| %>
	<% if File.exist?(file) %>
		<table>
			Archivo: <%= File.basename(file, ".*") %> <br>
			<% File.readlines(file).each do |line| %>
				<%= line %> <br>
			<% end %>
		</table>
	<% end %>
<% end %>