<% @resultado.each do |file| %>
	<% if File.exist?(file) %>		
		<table class="padded ex1">
			<% line_num = 0 %>
			<% File.readlines(file).each do |line| %>
				<tr><td><%= line.split %></td></tr>
			<% end %>
		</table>
	<% end %>
<% end %>