<h1>TFG - Aplicación para la extracción de reglas descriptivas en Minería de Datos orientada al análisis de datos médicos</h1>

<p>Hola <%= @user.name %>,</p>

<p>
Tu consulta: <i><%= @query.description %></i>, ha finalizado correctamente, puedes visualizar el resultado <%= link_to "aquí", query_url(@query) %>.
<br>
<br>
Recuerda que para poder verlo tienes que estar identificado.
</p>