<!-- Se lee el fichero de datos -->
<% if File.exist?(dis) %>
	Datos discretizador:
	<table class="tablas"> <tr>
		<!-- Cuenta la cantidad de atributos que hay -->
		<% atributes = 0 %>
		<% File.readlines(dis).each do |line| %>
			<% if line.split(' ')[0] == "Number"%>
				<% atributes+=1 %> 
			<% end %>
		<% end %>

		<!-- Cabecera del primer atributo -->
		<% atribute_number = 0 %>
		<td>
		<table class="padded ex1" style="border:1px solid black;">
			<tr style="border-bottom: 1px solid black; text-align: center" ><td colspan="2"> 
				<%= "Atributo " + atribute_number.to_s %>
			</td></tr>
			<tr>
				<td style="border: 1px solid black">Punto de corte</td>
				<td style="border: 1px solid black">Valor</td>
			</tr>
		<!-- Se leen las filas, si la primera palabra es "Cut", forma parte del atributo, si es "Number" es que se ha llegado a otro atributo, hay que incrementar el valor de atribute_number y crear nueva tabla -->
		<% File.readlines(dis).each do |line| %>
			<% if line.split(' ')[0] == "Cut" %>
				<tr>
					<td><%= line.split(' ')[2] %></td>
					<td><%= line.split(' ').last %></td>
				</tr>
			<% elsif line.split(' ')[0] == "Number" %>
				</table></td>
				<% atribute_number += 1 %>

				<!-- Si es la última línea, no crear nueva tabla -->
				<% if atribute_number < atributes %>
					<td>
					<table class="padded ex1" style="border:1px solid black;">
					<tr style="background: #FFF; border: 1px solid black; text-align: center" ><td colspan="2"> 
						<%= "Atributo " + atribute_number.to_s %>
					</td></tr>
					<tr>
						<td style="border: 1px solid black">Punto de corte</td>
						<td style="border: 1px solid black">Valor</td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tr></table>
<% end %>