<% provide(:title, "Consultas") %>

<div>
	<h1>Consultas</h1>
	<% if @user.queries.any? %>
		<h2>Realizadas: <%= @user.queries.count %></h2>
		<table class="queries ex1 padded" align="center">
			<tr id="cabecera">
				<td>Descripción</td>
				<td>Fecha de creación</td>
				<td>Estado</td>
				<td>Nombre del archivo</td>
				<td>Algoritmo</td>
				<td colspan='2'></td>
			</tr>
			<%= render @queries %>
		</table>
	<% else %>
		<h4>Ninguna consulta realizada</h4>
	<% end %>
</div>