<% provide(:title, "Experimentos") %>

<div>
	<h1>Experimentos</h1>
	<% if @user.queries.any? %>
		<h2><%= pluralize(@user.queries.count, 'experimento') + " " + pluralize(@user.queries.count, 'realizado').split[1] %></h2>
		<table class="queries ex1 padded" align="center">
			<tr id="cabecera">
				<td>Descripción</td>
				<td>Fecha de creación</td>
				<td>Estado</td>
				<td>Nombre del archivo</td>
				<td>Algoritmo</td>
				<td colspan='2'></td>
			</tr>
			<%= render @queries %>
		</table>
	<% else %>
		<h4>Ningún experimento realizada</h4>
	<% end %>
</div>