<footer class="footer">
	<small>
		Universidad de Jaén 2015-16, TFG por David Abad Vich. Desarrollado con Ruby on Rails.
	</small>
	<nav>
		<ul>
			<li><%= link_to "Ayuda", help_path %></li>
			<li><%= link_to "Contacto", about_path %></li>
		</ul>
	</nav>
</footer>